body.login {
 margin-top: 10%;
 font-family: sans-serif;
 font-weight: bold;
}

p,h2{
    margin: 0;
    padding: 0;
}

.judul h1, .judul h5{
    margin: 0;
    font-weight: bolder;
}

.lg-input{
    font-size: x-large;
    margin: 0 0 1em 0;
}

/*
.login{
    margin: 5% 25% 2.5% 10%;
}

input#password, input#username{
    padding: 5px 5px;
    margin: 0% 0% 5% 0%;
    border-radius: 10px;
    font-size: xx-large;
}

input.masuk{
    margin: 0px 7.5%;
    padding: 5px 35%;
    background-color: lightskyblue;
    font-size: xx-large;
    color: white;
    border-radius: 10px;
}
*/

.main_container:hover {
    background-color: rgb(194, 194, 194);
}

.prevP:hover, .nextP:hover{
    color: whitesmoke;
    transform: scale(1.1);
}

@media (min-width: 450px) {
    .login_container {
      width: 500px;
      border: 1px solid rgb(172, 172, 172);
      border-radius: 5%;
      margin-bottom: 5em;
      box-shadow: 5px 10px 18px #959cfd;
      padding: 1em;
    }
  }